# ======================
# Angular (Frontend)
# ======================
MVP-app/node_modules/
MVP-app/dist/
MVP-app/.angular/
MVP-app/.cache/
MVP-app/.vscode/

# ======================
# .NET (Backend)
# ======================
MVP/bin/
MVP/obj/
MVP/.vs/

# ======================
# IDEs
# ======================
.vscode/
*.user
*.suo

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Env / Secrets
# ======================
.env
.env.*